
/* ESTILOS GENERALES */ 

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{font-size: 3em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}

p{font-size: 1.25em;}

ul{list-style:none;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgb(67, 19, 112);
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    color: white;
    background-color: blueviolet;
}

button:hover{
    background-color: rgb(94, 28, 156);
}

.color-acento{
    color: blueviolet;
}

/* -------------------------------- */
/* ESTILIZADO MOBILE */

.container{
    max-width: 1500px;
    margin: auto;
}

header{
    background-color: rgb(245, 245, 245); 
}

header .logo{
    margin: 0px;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}

header .container{
   display: flex;
   flex-direction: column;
   align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color:black;
}

header a:hover{
    color: blueviolet;
}

#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    color: white;
    background-image: linear-gradient(0deg, rgb(0,0,0,0.5),rgb(0,0,0,0.5)) ,url("img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#quienessomos .container{
    text-align: center;
    padding: 200px 12px;
}

#nuestrosprogramas{
    background-color: rgb(17, 16, 16);
    color: white;
    text-align: center;
}

#nuestrosprogramas .container{
    padding: 100px 0px;
    
}
#nuestrosprogramas h2{
    margin-top: 0;

}

#nuestrosprogramas p{
    display: none;
}

#nuestrosprogramas .programa{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.programa:first-child{
    background-image: linear-gradient(0deg, rgb(0,0,0,0.5),rgb(0,0,0,0.5)) ,url("img/front-end-cropped.jpg");
}

.programa:nth-child(2){
    background-image: linear-gradient(0deg, rgb(0,0,0,0.5),rgb(0,0,0,0.5)) ,url("img/full-stack.jpg");
}

.programa:last-child{
    background-image: linear-gradient(0deg, rgb(0,0,0,0.5),rgb(0,0,0,0.5)) ,url("img/python.jpg");
}

#caracteristicas .container{
    padding: 150px 12px;
    text-align: center;

}

#caracteristicas li{
    margin: 16px 0;
    font-weight: bold;
}

#listos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80vh;
    color: white;
    background-color: rgb(17, 16, 16);
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* ADAPTARLO A PANTALLA GRANDE ---------------------------------------------*/

@media (min-width: 720px){

    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #quienessomos .container{
        display: flex;
        justify-content: space-evenly;
        
    }

    #quienessomos h2{
        margin-top: 0px;
    }

    #quienessomos .texto{
        text-align: initial;
        max-width: 600px;
        width: 50%;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    #quienessomos .img-container{
        background-image: url("img/somos-Bejob.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 40%;
    }

    #nuestrosprogramas h3{
        margin-top: 0;
    }

    #nuestrosprogramas .programas{
        display: flex;
        justify-content: center;

    }

    #nuestrosprogramas p{
        display: block;
        margin-bottom: 30px;
    
    }

    #nuestrosprogramas .programa{
        padding: 50px;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

}